*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: montserrat;
}

html {
  scroll-behavior: smooth;
}

header, header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 , header ul {
  margin-top: 50px;
}

header h1 a {
  color: #000000;
  margin-left: 100px;
  padding: 5px;
  font-weight: 500;
  font-size: 30px;
  transition: 0.4s;
  letter-spacing: 4px;

}

header ul li a {
  color: #000000;
  padding:  10px 15px;
  transition: 0.4s ease;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 4px;
  font-weight: 500;
}

header ul   {
  margin-right: 100px;
}

header ul li a:hover, header h1 a:hover {
  color: #6e6e6e;
  font-weight: 200;
}

.container {
  width: 80%;
  padding: 50px;
  margin: 100px auto;
}

.name {
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 2px;
}

.webdev {
  color: #999999;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.bigtext {
  font-size: 64px;
  line-height: 80px;
  
}

.works{
  font-size: 24px;
  color: #6e6e6e;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  text-transform: uppercase;

}

.owl-carousel {
  width: 80%;
  margin: 0px auto;
  padding: 30px;
  box-shadow: 2px 0 20px #cccccc;
}

.item {
  width: 50%;
  height: 550px;
  margin: 50px auto;
}

.dec {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 2px;
}

.item img {
  width:100%;
  margin-top: 40px;
}


.item a {
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #000000;
  color: #ffffff;
  letter-spacing: 2px;
  transition: 0.5s;
}

.item a:hover {
  background-color: #6e6e6e;
  font-weight: 100;
}



/* ----------- FOOTER ------------ */

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 60px;
  padding-top: 30px ;
  border-top: 1px solid #cccccc;
}

.socials a {
  color: #000000;
  padding: 10px;
  font-size: 20px;
  transition: 0.5s;
}

.socials a:hover {
  opacity: 0.5;
}

/* ---------- contactpage --------------- */

.contact {
  margin-top: 50px;
  width: 100%;
  background-color: #e6e6e6;
  padding: 40px;
}

form {
  width: 700px;
  margin:  50px auto;
 }

 form h3 {
  font-size: 30px;
  margin-bottom: 150px;
  text-align: center;
  font-weight: normal;
 }

 form input , form textarea {
  width: 100%;
  display: block;
  margin-bottom: 30px;
  padding: 18px;
  border: none;
  background-color: #ffffff;
  outline: none;
  box-shadow: 0 0 2px #000000;
  resize: none;
 }

 .mail, .con {
  margin-bottom: 50px;
 }

 .con {
  font-size: 30px;
  width: 400px;
  font-weight: bolder;
  letter-spacing: 2px;
 }

 .flexinput {
  display: flex;
  width: 700px;
 }
 .flexinput input[type="email"]{
  margin-left: 40px;
 }

 form input::placeholder, form textarea::placeholder {
  color: #000000;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 2px;
 }


form input[type="submit"] {
  background-color: #000000;
  color: #ffffff;
  width: 100px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.5s;
}
form input[type="submit"]:hover, .buttons a:hover, .chatboxmain .send:hover, .chat-sendmessage:hover {
  background-color: #6e6e6e;
  font-weight: 200;
}

.chat-sendmessage {
  width: 200px;
  padding: 12px;
  background-color: #000000;
  text-align: center;
  position: fixed;
  bottom: 50px;
  right: 100px;
  color: #ffffff;
  line-height: 24px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.5s;
}
.chat-chatbox{
  width: 300px;
  border: 1px solid #999999;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #ffffff;
  display: none;
}
.chatboxheader{
  padding: 10px;
  border-bottom: 1px solid #2d2d2d;
  letter-spacing: 2px;
  font-size: 12px;
}
.close{
  padding: 5px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close:hover{
  cursor: pointer;
}
.chatboxmain{
  padding: 10px;
}
.chatboxmain input, .chatboxmain textarea{
  width: 100%;
  margin-bottom: 20px;
  padding: 16px;
  outline: none;
  resize: none;
}
.chatboxmain .send{
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.5s;
}



/* ---------- INSIDE PROJECT PAGE --------------- */

.maininside {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inside {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.inside h2 {
  font-size: 30px;
  font-weight: 300;
  text-align: justify;

}

.inside p {
  color:#999999;
  letter-spacing: 2px;
  text-align: justify;
}

.buttons {
  margin-top: 100px;
  display: flex;
  
} 
 
.buttons a {
  display: block;
  margin-left: 10px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #000000;
  color: #ffffff;
  letter-spacing: 2px;
  transition: 0.5s;
}

.section {
  width: 70%;
  margin: 70px auto;
  display: block;
  box-shadow: 0 0 6px #999999;
}

.section img {
  width: 100%;

}


@media only screen and (max-width: 720px) {
  header ul, header h1 a{
    margin-right: 0px;
    margin-left: 0px;
  }

  header, header ul{
    flex-direction: column;
    justify-content: space-around;
  }
  header ul li {
    margin-bottom: 20px;
  }

  .container {
    width: 100%;
    padding-left: 0px;
    padding: 10px;
    text-align: center;
  }

  .bigtext {
    font-size: 44px;
  }
  .item {
    width: 70%;
    height: 250px;

  }

  .dec {
    flex-direction: column;
  }
  .dec p {
    margin-bottom: 10px;
    margin-top: -40px;
  }

  .flexinput {
    flex-direction: column;
    width: 460px;
  }
  .flexinput input[type="email"]{
    margin-left: 0px;
   }
   form, form textarea {
    padding: 20px;
    width: 500px;
  }
  form input , form textarea {
    width: 100%;
  }

  .con {
    width: 450px;
  }

  .maininside {
    flex-direction: column;
  }

  .inside p, .inside h2 {
    text-align: center;
  }

  .buttons {
    flex-direction: column;
  }
  .chat-sendmessage {
    right: 50px;
  }

}

@media only screen and (max-width: 520px) {

  .flexinput {
    width: 300px;
  }

  form {
    padding: 20px;
    width: 340px;
  }
  form input , form textarea {
    width: 100%;
  }

  .con {
    width: 350px;
  }
}
